*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

h1{
  text-align: center;
  color: #444;
}

button{
  margin-left: 48%;
  margin-top: 20px;
  padding: 5px;
  font-size: 12px;
  background: navy;
  border: 1px solid #bbb;
  border-radius: 20px;
  color: aliceblue;
}

button:hover{
  background: white;
  color: navy;
  cursor: pointer;
}

#col{
  margin-top: 3%;
  background-color: whitesmoke;
  border: 2px solid navy;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 750px;
  min-height: 420px;
  max-height: 750px;
  width: 25%;
  min-width: 20%;
  max-width: 40%;
}

#col h2{
  color: aliceblue;
  text-align: center;
  border: 1px solid navy;
  background-color: navy;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.col-1,
.col-2,
.col-3{
  float: left;
  margin-left: 5%;
  margin-bottom: 3%;
}

.clearfix{
  float: none;
  clear: both;
}

.task{
  position: absolute;
  z-index: 100;
  width: 240px;
  height: 170px;
  min-width: 100px;
  min-height: 100px;
  max-width: 75%;
  border: 1px navy solid;
  border-bottom-right-radius: 13px;
  margin: 3px;
}

.task-name{
  text-align: center; 
  margin: 0;
  cursor: move;
  background: #444;
}

.task-name:hover{
  background:navy;
  color: aliceblue;
}

.task-description{
  border: none; 
  border-bottom-right-radius: 15px;
  margin-left: 3px;
  margin-top: 3px;
  resize: none;
  width: 95%;
  height: 80%;
  min-width: 30px;
  min-height: 30px;
}